body {
  min-width: 360px;
  font-family: Arial, Helvetica, sans-serif;    
  height: 100dvh;
}
/* body > *{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;  
} */
form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: auto;  
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;  
  width: 456px;
  max-width: 100%;
  box-sizing: border-box;
  margin-top: 150px;
}
.input-amount-container{
  height: 56px;  
}
